{% extends "forum/base.html" %}
{% block main_block %}
<button class="show-setting" style="position: absolute ;left: 0px">asdasd</button>
    <button class="show-setting1"style="position: absolute ;left: 20px">asdasd</button>
<div id="set"  class="avator-set " style="display:none; width:720px;height:510px;overflow: hidden; border: solid; position: absolute; left: 100px;top:10px;z-index: 2000;background-color: white">
    <div style="width: 650px;height: 400px; position: relative; top: 60px ">
        <iframe id="ifram1" src="#" style=" position:absolute; left:50px;width:650px;height:400px;overflow: hidden;"></iframe>

    </div>

</div>

<script>
    $(function(){
         $('.show-setting').click(function(){
            $('#ifram1').attr('src','/forum/jcrop/');
        });
        $('.show-setting').click(function(){
            $('.avator-set').fadeIn(500);
        });

        $('.show-setting1').click(function(){
            $('.avator-set').fadeOut(500);
        });


        $("#ifram1").load(function(){
            $("#ifram1").contents().find('.post-avatar').click(function(){
                $('.avator-set').hide();
            });
        });




    });

</script>
{% endblock %}
