{% extends "forum/base.html" %}
{% load staticfiles %}
{% block javescrip_block %}
    <link rel="stylesheet" type="text/css" href="{% static "forum/topics.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "forum/webuploader.css" %}" />
    <script src="{% static "forum/js/webuploader.js" %}"></script>
{% endblock %}
{% block main_block %}

    <div class="main">
        <div class="inner-main">
            <div class="topics">
                <div class="category-name">
                    <span class=" topic_num hidden">{{ topics_num }}</span>
                    <span class=" view_pages hidden">{{ pages }}</span>

                    <div class="name" id="{{ category.id }}">{{category }}</div>
                    <div class="category-desc">
                        <div class="">{{ category.description }}</div>
                        <br>
                        <div class="">参与量:{{ category.involved }}    参与量:{{ category.involved }}</div>
                    </div>

                </div>

                <div class="topic-content">

                    {% if first_topic %}
                        {{ first_topic.content }}
                    {% endif %}

                </div>
            </div>
            <div class="side-content">
                {% for user in seq%}
                    <div class="user-box-1">
                        <a class="user-box" id='{{user.id}}' data-toggle="popover" href="{% url "forum:self_center" user.id  %}">
                        {% if user.common_user %}
                            {% if user.common_user.avatar %}
                            <span class="side-img"><img src="{{ user.common_user.avatar.url }}"/></span>
                                {% endif %}

                            <span class="side-user-name" >
                                <span>{{ user.common_user.user_name }}</span>
                                <span id="aft">
                                    活跃用户
                                </span>
                                {% if user.common_user not in you.common_user.following.all %}
                                    <span class="following-not follow-{{ user.common_user.id }}" href="#" id="{{ user.common_user.id }}"></span>
                                {% else %}
                                    <span style="display: none" class="following-not follow-{{ user.common_user.id }}" href="#" id="{{ user.common_user.id }}"></span>
                                {% endif %}
                            </span>
                        {% endif %}
                        </a>

                    </div>
                {% endfor %}
            </div>
            <div style=" clear:both; "></div>
        </div>
    </div>
    <div style="display: none;" class="m-loadm" id="loadmore">
  <div class="loadm">载入更多内容</div>
</div>
        <script>

        $(function () {
            var flag=true;
            var num=4;
            var load =$(".m-loadm")
            $(".main").ready(function(){
                flag=false;

                $.ajax({
                    type:'post',
                    url:'/forum/load_topics/',
                    data:{
                        'id':$('.name').attr('id'),
                        'num':4,
                        'pages':$('.view_pages').text(),
                        'request_num':0,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success:function(data){
                        $('.topic-content').append(data)
                        $.getScript("{% static "forum/js/topics-js.js" %}");

                        flag=true;

                    }
                })

            });


            console.log($(".topic_num").text())
            console.log($('.view_pages').text())

            $(window).on("scroll",function(){
                var pages= $('.view_pages').text()


                if($(window).scrollTop() + $(window).height() > $(document.body).height()-10 && num < 12 && flag){
                    load.show();
                    flag=false
                    num+=4
                    var i=(num/4)-1;
                    setTimeout(function(){
                        $.ajax({
                    type:'post',
                    url:'/forum/load_topics/',
                    data:{
                        'id':$('.name').attr('id'),
                        'num':num,
                        'pages':pages,
                        'request_num':i,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success:function(data){
                        $('.topic-content').append(data);
                            load.hide();
                    $(document).scrollTop(300);
                        flag=true;
                    }
                })},2000);



                };
            });
        $(document).on('click','.recommend',function(){
        var _this = this,
            _id= $(_this).attr('id');
        if($('.involved-reply-hot-'+_id)&& $('.reply-'+_id) &&  $('.decorator-foot-'+_id) ){
            $('.decorator-foot-'+_id).hide();
            $('.reply-'+_id).hide();
            $('.involved-reply-hot-'+_id).hide();
        }

        $('.recommend-foot-fa-'+_id).toggle();
        $('.favorite-info-'+_id).toggle();
        $('.involved-reply-hot-'+_id).slideToggle();

    });
         $(document).on('click','.following-not',function(){
        var _this=this,
            _id = $(_this).attr('id');
        console.log(_id);
        $.ajax({
            type: 'post',
            url:'/forum/set_following/',
            data:{
                'id':_id,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success:function(data){
                console.log(data);
                if (data=='ok'){
                    $('.follow-'+_id).css('display','none')}

            }
        })

    });
        $(document).on('click','.set-fa',function(e){

        var _node = $(this);
        var _topic_id = _node.attr('id');
        var _type = _node.attr('data-type');
        var _hot = $('.recommend-num-'+_topic_id);
        var _hot_node =$('.recommend-'+_topic_id);
        alert(_type)
        var _href = _node.attr('href').replace(/\/(favorite|unfavorite)\//igm,'/'+ _type+'/');
        alert(_href)
        var _errorMap = {
            topic_not_exist: '主题不存在',
            can_not_favorite_your_topic: '不能收藏自己的主题',
            already_favorited: '之前已经收藏过了',
            user_not_login: '收藏失败',
            not_been_favorited: '之前还没有收藏过',
        };
        e.preventDefault();
        _node.attr('href',_href);
        $.getJSON(_node.attr('href'),function(data){
            if (data.success){
                if(_type ==='favorite'){
                    _node.css('background-position', '-82px -2790px;');
                    _node.attr('data-type','unfavorite');

                    var a=_hot.text().replace(/\(/,'').replace(/\)/,'');
                    alert(parseInt(a)+1);
                   _hot.html('('+(parseInt(a)+1)+')');
                    _hot_node.removeClass('hidden');
                    $('.favorite-info-'+_topic_id).append( '<div class="favorite-info-items favorite-info-items-' + _topic_id + '">' +
                           '<div class="favorite-item-user-info">'+
                              '<div class="user-img" data-toggle="popover" id="{{ user.id }}" >' {% if user.common_user.avatar %} + '<img src="{{user.common_user.avatar.url}}" />'+ {% else %} +'<img src="{% static "images/ceshi.gif" %}" />' + {% endif %}  '</div>'+
                                '<div class="user-name-div" data-toggle="popover" id="{{ user.id }}" >' + '<a href="#" class="user-name" >'
                            + "{{ user.common_user.user_name }}" +'</a>' + ": 喜欢此图片" + '</div>' + '<div style="clear:both">' + '</div>' +
                            '</div>'+
                            '<div style="clear:both">'+'</div>'
                        +'</div>' );


                }
                if(_type === 'unfavorite'){
                    _node.css('background-position', '-82px -2759px;');
                    _node.attr('data-type','favorite');
                    var a=_hot.text().replace(/\(/,'').replace(/\)/,'');
                    if(parseInt(a)-1==0){
                        _hot_node.addClass('hidden');
                    }
                   _hot.html('('+(parseInt(a)-1)+')');
                }

            }else{
                _node.html('<span>'+_errorMap[data.message]+'<span>');
            }
        });
    });
        });

    </script>

{% endblock %}
